{% extends "base.html" %}
{% load static %}

{% block content %}

    <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include "sidebar.html" %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include "header.html" %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">


                    <!-- Content Row -->
                    <div class="row">

                        <!-- Total Available Tools Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Total Available Tools
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ item_count }} Tools
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-mouse fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Total Issued Tools
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ issued_tool }} Tools</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-keyboard fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">No. of
                                                Employees
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ employee_count }}
                                                        Members
                                                    </div>
                                                </div>
                                                {#                                                <div class="col">#}
                                                {#                                                    <div class="progress progress-sm mr-2">#}
                                                {#                                                        <div class="progress-bar bg-info" role="progressbar"#}
                                                {#                                                            style="width: 50%" aria-valuenow="100" aria-valuemin="0"#}
                                                {#                                                            aria-valuemax="100"></div>#}
                                                {#                                                    </div>#}
                                                {#                                                </div>#}
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-person-booth fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Team Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Team
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Python</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Totals Issue Till Date</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>


                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Pie Chart</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>

                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> TechiItems
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Employee
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-info"></i> Alotted Items
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Content Row -->
                    <h6 class="m-0 font-weight-bold text-primary">Available Tools</h6>
                    <br>
                    <div class="row">


                        <!-- Area Chart -->

                        {% for item in items reversed %}


                            <div class="col-xl-8 col-lg-7">
                                <div class="card shadow mb-4">

                                    <!-- Card Header - Dropdown -->

                                    <!-- Card Body -->
                                    <div class="card-body">

                                            {#                                        <canvas id="myAreaChart"></canvas>#}
                                            <center>
                                                <span>
                                                    <h6 class="m-0 font-weight-bold text-primary">{{ item.item_name }}</h6>
                                                </span>
                                            </center>
                                            <hr>
                                            <center>
                                                <picture>
                                                      <source srcset="{{ item.item_image.url }}" type="image/svg+xml">
                                                      <img src="{{ item.item_image.url }}" class="img-fluid img-thumbnail" alt="...">
                                                    </picture>
{#                                                <div >#}
{#                                                    <img src="{{ item.item_image.url }}" >#}
{#                                                </div>#}
                                            </center>
                                            <hr>
                                            <h6>Description</h6>
                                            <h4>{{ item.item_description }}</h4>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}


                    </div>
                    <!-- End of Main Content -->

                    <!-- Footer -->
                    <footer class="sticky-footer bg-white">
                        <div class="container my-auto">
                            <div class="copyright text-center my-auto">
                                <span>Copyright &copy; TheTechBox 2021</span>
                            </div>
                        </div>
                    </footer>
                    <!-- End of Footer -->

                </div>
                <!-- End of Content Wrapper -->

            </div>
            <!-- End of Page Wrapper -->

            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

            <!-- Logout Modal-->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Select "Logout" below if you are ready to end your current session.
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-primary" href="/logout">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Upload items</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'itemupload' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="modal-body">
                                    {% for field in form %}
                                        <div class="form-group{% if field.errors %} invalid{% endif %}">
                                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                            {{ field }}
                                            {% for error in field.errors %}
                                                <p class="help-block">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" value="Submit" class="btn btn-success">Upload</button>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
            {#        employee modal   #}
            <div>
            </div>
        </div>
    </div>
    </body>
    {% block js %}
        <script>
            $(document).on('click', '#del-btn', function (e) { //BUTTON ID
                {#var del_id = $('#del-id').val(); //INPUT FIELD#}
                var object = $(this)
                var del_id = $(this).data('id')
                var my_data = {
                    "del_id": del_id,
                    'csrfmiddlewaretoken': "{{ csrf_token }}",
                }
                $.ajax({
                    type: 'POST',
                    url: '{% url "deletedata" %}',
                    data: my_data,
                    success: function (json) {
                        $(object).closest('card-body').remove()
                        alert("Item Deleted");
                    },
                });
            });
        </script>


    {% endblock js %}
{% endblock %}